DirectoryIndex indexProyectoDWES.html
ErrorDocument 404 /207DWESProyectoDWES/errors/404.html
ErrorDocument 403 /207DWESProyectoDWES/errors/403.html
Redirect 301 /google https://www.google.es
#RewriteEngine On
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://daw207.ieslossauces.es/$1 [R,L]